body{
    background:rgb(92, 49, 49);
} 

p{
    color:rgb(155, 47, 65)
}

.foto-principal{
    width: 200px;
    border: 3px solid rgb(138, 131, 131); /*shorthand quando é simplificado a forma de escrever o cód.*/
    border-radius: 50%;
    margin: 30px;
    padding: 100px;
}